/* SFONDO E LOGO */
body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  padding-inline: 100px;
  padding-block: 50px;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
}
main {
  width: 80%;
  text-align: center;
}
.logo-epicode img {
  width: 15%;
}

section {
  margin-block: 3rem;
}

/* TESTO */

header {
  font-size: 16px;
  color: #ffffff;
  width: 80%;
}

h2 {
  font-size: 16px;
}

h3 {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
}

.title {
  margin-top: 120px;
  font-size: 300%;
  margin-bottom: 0;
  text-align: center;
}

.summary {
  text-align: center;
  font-size: large;
  font-weight: 500;
  color: #cdced6;
}

.send {
  text-align: center;
  color: #cdced6;
  font-size: 0.6rem;
}

p {
  font-size: 16px;
  color: #ffffff;
}

.container {
  width: 100%;
  text-align: center;
}

.correct {
  text-align: left;

  display: inline-block;
  width: 22%;
}

.wrong {
  text-align: right;
  display: inline-block;
  width: 22%;
}

.inblock-circle {
  display: inline-block;
  width: 50%;
}

.domande {
  font-size: 0.8rem;
  color: #3e4364;
}

/* BOTTONE */
.button {
  text-align: center;
}

.border-button {
  font-weight: 600;
  display: block;
  border: 2px solid #f7f7f7;
  margin: 0 auto;

  /* Colore del bordo */

  padding: 10px 50px;
  font-family: "Inter", sans-serif;
  font-size: 120%;
  color: #ffffff;

  /* Colore del testo */

  background-color: transparent;

  /* Sfondo trasparente */

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.border-button:hover {
  background-color: #ffffff00;

  /* Colore di sfondo al passaggio del mouse */

  color: #f1468d;

  /* Colore del testo al passaggio del mouse */
}
