/* RULES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding-inline: 100px;
  padding-block: 50px;
  font-size: 2rem;
  color: white;
}
/* UTILITY */

/* HEADER */
header {
  margin-bottom: 25px;
}
header img {
  width: 15%;
  margin-bottom: 55px;
}
header h1 {
  color: white;

  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 8rem;
}
header h1 span {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  display: block;
  margin-top: -65px;
}

/* MAIN */
main {
  width: 80%;
}
main h2 {
  color: #d20094;
  font-size: 4rem;
  margin-bottom: 15px;
  font-family: "Outfit", sans-serif;
}
section {
  margin-bottom: 75px;
}

.description {
  margin-bottom: 25px;
}
.list ul {
  padding-left: 50px;
}
.list li {
  padding-block: 2.5px;
}
.list li span {
  font-weight: 700;
}

.check-rule {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* .checkbox-div {
  display: inline-block;
  width: 65%;
} */

.checkbutton-div {
  display: flex;
  /* vertical-align: middle; */
  /* margin-top: auto; */
  width: 25%;
  margin-left: auto;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}
.checkbox-wrapper {
  width: 75%;
  display: flex;
  align-items: center;
}

/* Nascondo il checkbox di base del browser */
.checkbox-wrapper input {
  display: none;
}

/* creo il mio checkbox */
.checkbox-wrapper .checkmark {
  display: flex;
  min-width: 30px;
  height: 30px;
  border: 3px solid white;
}

.checkbox-wrapper:hover input ~ .checkmark {
  background-color: #cccccc;
}
/* Quando l'input è selezionato, coloro il bordo dell'input */
.checkbox-wrapper input:checked ~ .checkmark {
  background-color: #d20094;
}

.check-rule p {
  font-weight: 700;
  margin-inline: 20px;
  cursor: pointer;
}

.check-rule button {
  background-color: #00ffff;
  width: 18rem;
  height: 6rem;
  box-shadow: 0px 0px 45px 3px #00ffff;
  font-weight: bold;
  font-size: 28px;
  border: none;
  cursor: pointer;
}

/* FOOTER */
